<div class="p-4 mx-auto lg:max-w-6xl md:max-w-4xl">
    
  <h2 class="text-2xl sm:text-3xl font-bold text-slate-900 mb-6 sm:mb-12">Premium Movies</h2>

  <!-- Mantén la cuadrícula fuera del bucle -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
    @if(_noteService.loading()){
      <div >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-10 animate-[spin_0.8s_linear_infinite] fill-blue-600 block mx-auto"
      viewBox="0 0 24 24">
      <path
        d="M12 22c5.421 0 10-4.579 10-10h-2c0 4.337-3.663 8-8 8s-8-3.663-8-8c0-4.336 3.663-8 8-8V2C6.579 2 2 6.58 2 12c0 5.421 4.579 10 10 10z"
        data-original="#000000" />
    </svg>
      </div>
    }
    @if(!_noteService.loading()&& !_noteService.error()){
      @for (pelicula of _noteService.notes(); track pelicula) {
        <div class="bg-white flex flex-col rounded overflow-hidden shadow-md cursor-pointer hover:scale-[1.01] transition-all">
          <div class="w-full">
            <img [routerLink]="['/content/detalles',pelicula.id]" 
                 src={{pelicula.urlPortada}} 
                 alt={{pelicula.titulo}}
                 class="w-full object-cover object-top aspect-[230/307]" />
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <div class="flex-1">
              <h5 class="text-sm sm:text-base font-semibold text-slate-900 line-clamp-2">{{pelicula.titulo}}</h5>
            </div>
          </div>
        </div>
      }@empty {
        <div class="bg-white flex flex-col rounded overflow-hidden shadow-md cursor-pointer hover:scale-[1.01] transition-all">
          <div class="w-full">
           
          </div>
          <div class="p-4 flex-1 flex flex-col">
            <div class="flex-1">
              <h5 class="text-sm sm:text-base font-semibold text-slate-900 line-clamp-2">no hay existencia de peliculas</h5>
            </div>
          </div>
        </div>
      }
    }
  </div>

</div>

```  