<p class="text-xl font-semibold ">Horarios</p>
<div class="grid grid-cols-5 gap-3 py-2">
    <a>LUNES</a>
    <a>3:00 PM</a>
    <a></a>
    <a>8:00 PM</a>
    <a></a>
    <a>MARTES</a>
    <a></a>
    <a>5:30 PM</a>
    <a></a>
    <a>10:30 PM</a>
    <a>MIÉRCOLES</a>
    <a>3:00 PM</a>
    <a></a>
    <a>8:00 PM</a>
    <a></a>
    <a>JUEVES</a>
    <a>3:00 PM</a>
    <a></a>
    <a></a>
    <a></a>
    <a>VIERNES</a>
    <a>3:00 PM</a>
    <a></a>
    <a>8:00 PM</a>
    <a></a>
    <a>SÁBADO</a>
    <a></a>
    <a></a>
    <a></a>
    <a>10:30 PM</a>
    <a>DOMINGO</a>
    <a></a>
    <a></a>
    <a></a>
    <a>10:30 PM</a>
    
</div>