<app-head></app-head>
<div class="bg-gradient-to-r from-blue-700 to-[#B06AB3] px-6 py-12">
    <div class="container mx-auto flex flex-col justify-center items-center text-center">
      <h2 class="text-white sm:text-4xl text-3xl font-bold mb-6">Descubre Nuestros Estrenos</h2>
      <p class="text-white text-base text-center mb-12">
        ¡Compra ahora y disfruta de descuentos exclusivos!
      </p>
  
      <button type="button" routerLink="/auth/register" class="bg-white text-[15px] text-blue-600 font-semibold py-3 px-6 rounded-lg hover:bg-slate-100">
        Registrarse
      </button>
    </div>
  </div>
  
<app-cartelera></app-cartelera>
<app-descuento></app-descuento>
<app-footer></app-footer>
