<app-head></app-head>
<!-- @if(!getLogin()){
  <div class="bg-gradient-to-r from-[#6626d9] via-[#a91079] to-[#e91e63] py-20 px-6">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold text-white mb-6">Únete Hoy</h2>
      <p class="text-lg text-white mb-12">Vive el futuro con nuestras soluciones innovadoras. Regístrate ahora para acceso exclusivo.</p>
      <a routerLink="/auth/register" class="bg-white text-[#a91079] hover:bg-[#a91079] hover:text-white py-3 px-8 rounded-full text-lg font-medium transition duration-300 hover:shadow-lg">
        Registrar
      </a>
    </div>
</div>
} -->
<app-cartelera></app-cartelera>
<app-descuento></app-descuento>
<app-footer></app-footer>
