<app-head></app-head>
<body class="bg-white font-family-karla">
    <div class="container mx-auto flex flex-wrap py-6">
        <section class="w-full md:w-2/5 flex flex-col items-center px-5">
            <article class="flex flex-col shadow my-4">
                <a>
                    <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_FMjpg_UX1000_.jpg">
                </a>                
            </article>
        </section>
        <aside class="w-full md:w-3/5 flex flex-col items-center px-3">
            <div class="w-full bg-white shadow flex flex-col my-4 p-6">
                <p class="text-xl font-semibold pb-5">INCEPTION</p>
                <p class="pb-4">
                    Fecha de estreno: 16 de julio de 2010 / Director: Christopher Nolan
                </p>
                <p class="pb-2">
                    *Inception* es una película de ciencia ficción que sigue a Dom Cobb, un ladrón especializado en extraer secretos del subconsciente durante el sueño. Su habilidad lo ha convertido en un fugitivo, pero tiene una oportunidad de redención si logra implantar una idea en la mente de alguien, una tarea conocida como "origen".
                </p>
                <a routerLink="/private/venta" class="w-full bg-blue-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
                    Comprar Tiket
                </a>
            </div>
            <div class="w-full bg-white shadow flex flex-col my-4 p-6">
                <p class="text-xl font-semibold ">Horarios</p>
                <div class="grid grid-cols-5 gap-3 py-2">
                    <a>LUNES</a>
                    <a>3:00 PM</a>
                    <a></a>
                    <a>8:00 PM</a>
                    <a></a>
                    <a>MARTES</a>
                    <a></a>
                    <a>5:30 PM</a>
                    <a></a>
                    <a>10:30 PM</a>
                    <a>MIÉRCOLES</a>
                    <a>3:00 PM</a>
                    <a></a>
                    <a>8:00 PM</a>
                    <a></a>
                    <a>JUEVES</a>
                    <a>3:00 PM</a>
                    <a></a>
                    <a></a>
                    <a></a>
                    <a>VIERNES</a>
                    <a>3:00 PM</a>
                    <a></a>
                    <a>8:00 PM</a>
                    <a></a>
                    <a>SÁBADO</a>
                    <a></a>
                    <a></a>
                    <a></a>
                    <a>10:30 PM</a>
                    <a>DOMINGO</a>
                    <a></a>
                    <a></a>
                    <a></a>
                    <a>10:30 PM</a>
                    
                </div>
            </div>

        </aside>

    </div>
    
   <app-footer></app-footer>
</body>