<app-head></app-head>
<body class="bg-white font-family-karla">
    <div class="container mx-auto flex flex-wrap py-6">
        <section class="w-full md:w-2/5 flex flex-col items-center px-5">
            <article class="flex flex-col shadow my-4">
                <a>
                    <img src="{{selectPelicula?.urlPortada}}" alt="Portada de {{selectPelicula?.titulo}}">
                </a>                
            </article>
        </section>
        <aside class="w-full md:w-3/5 flex flex-col items-center px-3">
            <div class="w-full bg-white shadow flex flex-col my-4 p-6">
                <p class="text-xl font-semibold pb-5">{{selectPelicula?.titulo}}</p>
                <p class="pb-2">
                    {{selectPelicula?.detalles}}
                </p>
                <!-- <div class="w-full my-4">
                    <iframe width="100%" height="315" src={{selectPelicula?.urlTrailer}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div> -->

                <a routerLink="/private/venta" class="w-full bg-blue-800 text-white font-bold text-sm uppercase rounded hover:bg-blue-700 flex items-center justify-center px-2 py-3 mt-4">
                    Comprar Tiket
                </a>
            </div>
            <div class="w-full bg-white shadow flex flex-col my-4 p-6">
                <app-horarios></app-horarios>
            </div>
        </aside>
    </div>
    
    <app-footer></app-footer>
</body>
