<div class="relative hidden md:block" >
    <div class="flex flex-col justify-center ">
        <div class="flex items-center justify-center">
          <div class=" relative inline-block text-left dropdown">
            <span class="rounded-md shadow-sm"
              ><button class="inline-flex justify-center w-full px-4 py-2 text-2xl font-medium leading-5 transition duration-150 ease-in-out text-white"
               type="button" aria-haspopup="true" aria-expanded="true" aria-controls="headlessui-menu-items-117">
                <span>Perfil</span>
                <svg class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button
            ></span>
            <div class="hidden dropdown-menu">
              <div class="absolute right-0 w-56 mt-2 origin-top-right bg-white border border-gray-200 divide-y divide-gray-100 rounded-md shadow-lg outline-none" aria-labelledby="headlessui-menu-button-1" id="headlessui-menu-items-117" role="menu">
                
                <div class="py-1">
                  <a href="/content/profile" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Cuenta</a>
                  <a routerLink="/content/licens" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left" role="menuitem" >Licencia</a></div>
                <div class="py-1">
                  <a type="button" (click)="logOut()" routerLink="/content/media" class="text-gray-700 flex justify-between w-full px-4 py-2 text-sm leading-5 text-left"  role="menuitem" >Cerrar Sesion</a>
              </div>
            </div>
          </div>
        </div>              
        </div>  
        
        <style>
        .dropdown:focus-within .dropdown-menu {
          /* @apply block; */
          display:block;
        }
            </style>
        
          </div>
</div>